.wallet_activeWallet{
    background-color: white!important;
    box-shadow: 0 0 15pt 1pt #8168EF!important;
}
.customizeGradientLine{
    width: 100% ;
    height: 1px ;
    background-color: #d1cccc;
    // background:linear-gradient(to right, red,#8168EF,#242D59)
    // background:linear-gradient(to right,#0ba360 0,#3cba92)!important;
}
.customizeGradientModalLine{
    position: absolute;
    width: 100% ;
    height: 3px ;
    top:55px;
    background:linear-gradient(to right, red,#8168EF,#242D59)
}
